<footer>
  <div class="wrap90">
    <hr />
    <img id="footerlogo" src="img/Färjas-Full-Lockup-White2.png" alt="" />
    <div id="footermiddle">
      <div class="footerinfo">
        <h3>Kontakt</h3>
        <ul>
          <li>
            <a
              href="https://www.google.se/maps/place/Unnviksv%C3%A4gen+6,+860+35+S%C3%B6r%C3%A5ker/@62.4342013,17.6742996,17z/data=!4m6!3m5!1s0x466462c99ec8b3f3:0x397cf1b857d2b8db!8m2!3d62.4336825!4d17.6745034!16s%2Fg%2F11c4x000f3?entry=ttu"
              target="”_blank”"
              >Unnviksvägen 6, 861 94 Söråker</a
            >
          </li>
          <li><a href="mailto:hej@farjas.se">hej@farjas.se</a></li>
          <li><a href="tel:+466030110">060-30110</a></li>
        </ul>
      </div>
      <div id="whiteline"></div>
      <div class="footerinfo">
        <h3>Öppettider</h3>
        <ul>
          <li>Mån - Sön:</li>
          <li>12:00 - Sent</li>
        </ul>
      </div>
    </div>
    <div id="social">
      <a
        href="https://www.facebook.com/p/F%C3%A4rjas-Veranda-100091070464645/?paipv=0&eav=AfbIfXW8fEjim_LGsQjhk-8pXINTlWioH1dMXJ-TPGtJ7fyW9EAr7Vd1TIPAkobWCM8&_rdr"
        target="”_blank”"
        ><img src="img/facebook.png" alt="Facebook"
      /></a>
      <a href="https://www.instagram.com/farjasveranda/" target="”_blank”"
        ><img src="img/instagram.png" alt="instagram"
      /></a>
    </div>
    <h2>Följ oss på sociala medier</h2>
  </div>
</footer>
