<header>
  <div class="wrap90">
    <!-- Nav -->
    <nav id="Nav">
      <div id="cross" onclick="closeNav()">
        <div></div>
        <div></div>
      </div>
      <img src="img/Färjas-Full-Lockup-White2.png" alt="" />
      <ul>
        <li>
          <a href="#verandameny" onclick="closeNav()" class="navlink">
            Verandameny
          </a>
        </li>
        <li>
          <a href="#pizzameny" onclick="closeNav()" class="navlink"
            >Pizzameny</a
          >
        </li>
        <li>
          <a href="#omoss" onclick="closeNav()" class="navlink"
            >Om Färjas Veranda</a
          >
        </li>
        <li>
          <a href="#footerlogo" onclick="closeNav()" class="navlink">Kontakt</a>
        </li>
        <li>
          <a href="#booking" onclick="closeNav()" class="headerbutton"
            >Boka bord</a
          >
        </li>
      </ul>
    </nav>
    <!-- Top Header-->
    <div id="topheader">
      <img src="img/Färjas-Full-Lockup-White2.png" alt="Logo" id="logo" />
      <div id="hammenu" onclick="openNav()">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <!-- Bottom Header -->
    <div id="bottomheader" class="flexcolumn">
      <h2>BY LINDQVIST</h2>
      <hr />
      <h1>FÄRJAS VERANDA</h1>
      <a href="#verandameny" class="headerbutton">SE VÅR MENY</a>
    </div>
  </div>
</header>
